# name of the workflow pipeline
name: github action demo pipeline

#trigger event
on:
    push:
        branches:
            - main

jobs:
    demo-job:
          runs-on: ubuntu-latest

          steps:
              - name: checkout code
                uses: actions/checkout@v3

              - name: message
                run: echo "Welcome to github actions"
